.img-banner {
    display: block;
    width: 250px;
}

.summary-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    line-clamp: 5;
    -webkit-box-orient: vertical;
}

.summary-content img {
    width: fit-content !important;
    max-height: 400px !important;
}

.list-images {
    width: 50%;
    margin-top: 20px;
    display: inline-block;
}

.hidden {
    display: none;
}

.box-image {
    width: 100px;
    height: 108px;
    position: relative;
    float: left;
    margin-left: 5px;
}

.box-image img {
    width: 100px;
    height: 100px;
}

.wrap-btn-delete {
    position: absolute;
    top: -8px;
    right: 0;
    height: 2px;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.btn-delete-image {
    cursor: pointer;
}

.table {
    width: 15%;
}

.img-max-div {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
